body {
    background-color: rgb(14, 41, 26)
}

.search-bar {
    margin: 20px;
    text-align: center
}

.search-bar input {
    width: 70%;
}

.video-item img {
    max-width: 64px;
}

.video-detail {
    margin-top: 2vh;
    
    background-color: rgb(14, 41, 26)
}

.video-detail .details {
    margin: 10px 0 10px 0;
    padding: 10px; 
    border: 1px solid #ddd;
    border-radius: 4px;
    color: #ddd
}



.list-group-item {
    cursor: pointer;
    background: rgb(14, 41, 26);
    color: #ddd
}

.list-group-item:hover {
    background-color: #ccc;
    color: rgb(14, 41, 26)
}