.search-bar {
    margin: 20px;
    text-align: center
}

.search-bar input {
    width: 70%;
}

.video-item img {
    max-width: 64px;
}

.video-detail {
    background-color: rgb(46, 248, 137)
}

.video-detail .details {
    margin-top: 10px;
    padding: 10px; 
    border: 1px solid #ddd;
    border-radius: 4px
}

.list-group-item {
    cursor: pointer;
    background: rgb(0, 81, 255);
    color: white
}

.list-group-item:hover {
    background-color: #eee;
    color: rgb(7, 167, 7)
}